.event-detail-container {
    width: 80%; /* or max-width: 800px; */
    margin: 2rem auto; /* centers the div and adds top/bottom margin */
    padding: 1rem;
    background: #fff; /* adjust if necessary */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for depth */
  }
  
  .event-detail-container h1,
  .event-detail-container h2,
  .event-detail-container h3 {
    text-align: center; /* Centers all your headers */
    color: #333;
  }
  
  .event-detail-container img {
    display: block;
    max-width: 100%; /* ensures image is responsive */
    height: auto;
    margin: 0 auto 2rem; /* centers the image and adds bottom margin */
  }
  
  .event-detail-container p,
  .event-detail-container ul {
    text-align: left; /* Adjusts text alignment */
    color: #666;
  }
  
  .event-detail-container .back-button {
    display: inline-block; /* Adjusts display property for the button */
    margin-bottom: 1rem;
  }
  
