.body {
    margin-top: 110px;
    margin-left: 20px;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: gray;
    color: white;
}

.header {
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    height: auto;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
}

.overview {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-right: 40px;
}

.tips-card {
    margin-left: 50px;
    width: 550px;
    height: 300px;
}

ul {
    list-style-type: disc;
}

li {
    margin: 10px;
}